#circlesUI {
  width: 100%;
  height: 100%;
  color: #FFF;
  &.appeared {
    pointer-events: none;

    .caption {
      .animation(opac 1s);
    }
  }

  &.moved .caption {
    .animation(opac 1s reverse forwards);
  }
}

@base-social: #00ceff;
@base-job: #00ff89;
@base-sport: #ff0093;
@base-divers: #c8ff4b;

.caption {
  position: absolute;

  &.social {
    top: 10px;
    left: 10px;
    border-top: 0.2em solid #00aced;
    font-size: 2em;
    text-align: left;
  }
  &.job {
    top: 10px;
    right: 10px;
    border-top: 0.2em solid #43ff00;
    font-size: 2em;
    text-align: right;
  }
  &.divers {
    bottom: 10px;
    left: 10px;
    border-bottom: 0.2em solid #feff4b;
    font-size: 2em;
    text-align: left;
  }
  &.sport {
    bottom: 10px;
    right: 10px;
    border-bottom: 0.2em solid #ff002d;
    font-size: 2em;
    text-align: right;
  }
}

.mixi-frames () {
	from {opacity:0;}
};

@-webkit-keyframes opac {.mixi-frames;}
@-moz-keyframes opac {.mixi-frames;}
@-ms-keyframes opac {.mixi-frames;}
@-o-keyframes opac {.mixi-frames;}
@keyframes opac {.mixi-frames;}

.generate-color-social(6);
.generate-color-job(6);
.generate-color-sport(10);
.generate-color-divers(10);

.generate-color-social(@n, @i: 0) when (@i < @n) {
  @j: 1 + floor(@i / 2) * 4 + mod(@i, 2);
  .circle-container.social:nth-child(@{j}) > .circle {
    background-color: spin(@base-social, 8*@i);
  }
  .generate-color-social(@n, (@i + 1));
}

.generate-color-job(@n, @i: 0) when (@i < @n) {
  @j: 3 + floor(@i / 2) * 4 + mod(@i, 2);
  .circle-container.job:nth-child(@{j}) > .circle {
    background-color: spin(@base-job, -8*@i);
  }
  .generate-color-job(@n, (@i + 1));
}

.generate-color-sport(@n, @i: 0) when (@i =< @n) {
  @j: 15 + floor(@i / 2) * 4 + mod(@i, 2);
  .circle-container.sport:nth-child(@{j}) > .circle {
    background-color: spin(@base-sport, 5*@i);
  }
  .generate-color-sport(@n, (@i + 1));
}

.generate-color-divers(@n, @i: 0) when (@i < @n) {
  @j: 13 + floor(@i / 2) * 4 + mod(@i, 2);
  .circle-container.divers:nth-child(@{j}) > .circle {
    background-color: spin(@base-divers, -5*@i);
  }
  .generate-color-divers(@n, (@i + 1));
}

.circle-container {
  .circle {
    overflow: hidden;

    img{
      height: 100%;
      width: 100%;
    }

    .content {
      opacity: 0;
      .transition;
    }
  }

  &.facebook .circle {
    background-color: #3b5998 !important;
  }
  &.twitter .circle {
    background-color: #00aced !important;
  }
  &.linkedin .circle {
    background-color: #007bb6 !important;
  }
  &.disabled .circle {
    background-color: #7e7e7e !important;
  }
  &.last-tweet {
    .circle {
      p {
        padding-top: 0;
        margin-top: 0;
        display: none;
        color: #FFF;
        opacity: 0;
        -webkit-shape-inside:circle();
        shape-inside:circle();
      }
      img {
        display: block;
      }
    }

    &.circle-big > .circle {
      p {
        height: 100%;
        padding-left: 8%;
        padding-right: 19%;
        .center;
        opacity: 1;
        visibility : visible;
      }
      img {
        display: none;
      }
    }
  }
  &.step {
    .circle {
      p {
        padding-top: 0;
        margin-top: 0;
        display: none;
        opacity: 0;
        .transition;
        -webkit-shape-inside:circle();
        shape-inside:circle();

        span {
          font-size: 0.8em;
        }
      }
      img {
        display: block;
        position: relative;
        .transition;
      }
    }

    &.circle-big > .circle {
      p {
        width: 0%;
        padding-left: 10%;
        margin-top: -9px;
        display: block;
        text-align: right;
        opacity: 1;
        visibility : visible;
        font-size: 1.3em;
      }
      img {
        width: 50%;
        height: 50%;
        left: 50%;
        top: 25%;
      }
    }
  }
  &.age {
    .circle p{
      span:first-child {
        text-align: center;
        margin-top: ~'calc(50% - 1.2em)';
        width: 100%;
        display: block;
        .transition;
        font-weight: 900;
        font-size: 1.5em;
      }
      span:last-child {
        display: none;
        opacity: 0;
        .transition;
      }
    }
    &.circle-big .circle p {
      span:first-child {
        margin-top: 20%;
        font-size: 3em;
      }
      span:last-child {
        display: block;
        opacity: 1;
        width: 90px;
        margin-left: ~'calc(50% - 45px)';
      }
    }
  }

  &.rescuetime {
    .circle {
      p {
        padding-top: 0;
        margin-top: 0;
        display: none;
        opacity: 0;
        font-size: 3em;
        -webkit-shape-inside:circle();
        shape-inside:circle();
      }
      img {
        display: block;
      }
    }

    &.circle-big > .circle {
      p {
        height: 100%;
        .center;
        opacity: 1;
        visibility : visible;
      }
      img {
        display: none;
      }
    }
  }
}
