*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  background: url(/images/bg.jpg) no-repeat center center fixed;
  background-color: #2C3337;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

h1 {
  font-weight: 300;
}
