<!DOCTYPE html>
<html>

<head>
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <title>Mathieu Dutour - Administration</title>
  <meta name="description" content="Mathieu's Portfolio">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="styles/styles.css">

</head>

<body class="admin">
  <aside>
    <div class="background"></div>
    <div class="avatar">
      <img src="<%= providers.basic.avatar %>">
    </div>
    <div class="info">
      <h1>
        Hello <%= providers.basic.first_name %> !
      </h1>
      <p id="age"></p>
      <% if(((providers.basic ? 1 : 0) + (providers.gravatar ? 1 : 0) + (providers.facebook ? 1 : 0) + (providers.strava ? 1 : 0) + (providers.moves ? 1 : 0) + (providers.twitter ? 1 : 0) + (providers.github ? 1 : 0) + (providers.linkedin ? 1 : 0) + (providers.rescuetime ? 1 : 0) + (providers.projects.length>0 ? 1 : 0) + (providers.diplomas.length>0 ? 1 : 0)) / 11 != 1) {%>
      <div class="progress">
        <div class="current" style="width:<%= ((providers.basic ? 1 : 0) + (providers.gravatar ? 1 : 0) + (providers.facebook ? 1 : 0) + (providers.strava ? 1 : 0) + (providers.moves ? 1 : 0) + (providers.twitter ? 1 : 0) + (providers.github ? 1 : 0) + (providers.linkedin ? 1 : 0) + (providers.rescuetime ? 1 : 0) + (providers.projects.length>0 ? 1 : 0) + (providers.diplomas.length>0 ? 1 : 0)) * 100 / 11 %>%;"></div>
        <p><%= (((providers.basic ? 1 : 0) + (providers.gravatar ? 1 : 0) + (providers.facebook ? 1 : 0) + (providers.strava ? 1 : 0) + (providers.moves ? 1 : 0) + (providers.twitter ? 1 : 0) + (providers.github ? 1 : 0) + (providers.linkedin ? 1 : 0) + (providers.rescuetime ? 1 : 0) + (providers.projects.length>0 ? 1 : 0) + (providers.diplomas.length>0 ? 1 : 0)) * 100 / 11).toFixed(0) %>% completed</p>
      </div>
      <% } %>
      <a class="button" href="<%= slug_name %>">Go to your page</a>
    </div>
  </aside>
  <div class="content"><div class="wrapper">
    <section class="gravatar social">
      <% if(providers.gravatar) { %>
      <input type="checkbox" id="gravatarBack" />
      <label for="gravatarBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
      <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/gravatar.jpg">
        <h1>Gravatar</h1>
        <p>An image that follows you from site to site.</p>
      </div>
      <% if(providers.gravatar) { %>
      <div class="face back"><img class="logo" src="<%= providers.gravatar.image %>"></div>
      <% } %>
    </section>
    <section class="facebook social">
      <% if(providers.facebook) { %>
      <input type="checkbox" id="facebookBack" />
      <label for="facebookBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
      <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/facebook.png">
        <h1>Facebook</h1>
        <p>Biggest online social networking service.</p>
        <% if(providers.facebook) { %>
        <a class="button active" href="admin/auth/facebook">ACTIVE</a>
        <% } else { %>
        <a class="button" href="admin/auth/facebook">CONNECT</a>
        <% } %>
      </div>
      <% if(providers.facebook) { %>
      <div class="face back"><img class="logo" src="<%= providers.facebook.image %>"></div>
      <% } %>
    </section>
    <section class="strava sport">
      <% if(providers.strava) { %>
      <input type="checkbox" id="stravaBack" />
      <label for="stravaBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
      <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/strava.png">
        <h1>Strava</h1>
        <p>Tracks your runs, walks, hikes, etc.</p>
        <% if(providers.strava) { %>
        <a class="button active" href="admin/auth/strava">ACTIVE</a>
        <% } else { %>
        <a class="button" href="admin/auth/strava">CONNECT</a>
        <% } %>
      </div>
      <div class="face back">blablabla</div>
    </section>
    <section class="moves sport">
      <% if(providers.moves) { %>
      <input type="checkbox" id="movesBack" />
      <label for="movesBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
      <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/moves.png">
        <h1>Moves</h1>
        <p>Tracks your steps you make every day.</p>
        <% if(providers.moves) { %>
        <a class="button active" href="admin/auth/moves">ACTIVE</a>
        <% } else { %>
        <a class="button" href="admin/auth/moves">CONNECT</a>
        <% } %>
      </div>
      <div class="face back"><% if(providers.moves) { %><h1>Yesterday</h1><p><%= providers.moves.steps %> steps</p><% } %></div>
    </section>
    <section class="twitter social">
      <% if(providers.twitter) { %>
      <input type="checkbox" id="twitterBack" />
      <label for="twitterBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
    <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/twitter.png">
        <h1>Twitter</h1>
        <p>Tracks your tweets and followers.</p>
        <% if(providers.twitter) { %>
        <a class="button active" href="admin/auth/twitter">ACTIVE</a>
        <% } else { %>
        <a class="button" href="admin/auth/twitter">CONNECT</a>
        <% } %>
      </div>
      <% if(providers.twitter) { %>
      <div class="face back"><img class="logo" src="<%= providers.twitter.image %>"></div>
      <% } %>
    </section>
    <section class="github social">
      <% if(providers.github) { %>
      <input type="checkbox" id="githubBack" />
      <label for="githubBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
      <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/github.png">
        <h1>Github</h1>
        <p>Tracks all the code you have commited.</p>
        <% if(providers.github) { %>
        <a class="button active" href="admin/auth/github">ACTIVE</a>
        <% } else { %>
        <a class="button" href="admin/auth/github">CONNECT</a>
        <% } %>
      </div>
      <div class="face back">blablabla</div>
    </section>
    <section class="linkedin social">
      <% if(providers.linkedin) { %>
      <input type="checkbox" id="linkedinBack" />
      <label for="linkedinBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
      <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/linkedin.png">
        <h1>LinkedIn</h1>
        <p>Biggest professional networking service.</p>
        <% if(providers.linkedin) { %>
        <a class="button active" href="admin/auth/linkedin">ACTIVE</a>
        <% } else { %>
        <a class="button" href="admin/auth/linkedin">CONNECT</a>
        <% } %>
      </div>
      <div class="face back">blablabla</div>
    </section>
    <section class="rescuetime sport">
      <input type="checkbox" id="rescuetimeBack" />
      <% if(providers.rescuetime) { %>
      <label for="rescuetimeBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
      <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/rescuetime.png">
        <h1>Rescue Time</h1>
        <p>Tracks the time you spend on your computer.</p>
        <% if(providers.rescuetime && providers.rescuetime.api_key) { %>
        <a class="button active" href="#">ACTIVE</a>
        <% } else { %>
        <label for="rescuetimeBack" class="button">CONNECT</label>
        <% } %>
      </div>
      <div class="face back">
        <form action="/admin/rescuetime/apiKey" method="post">
          <input type="text" name="api_key" placeholder="API Key"<% if(providers.rescuetime && providers.rescuetime.api_key) { %> value="<%= providers.rescuetime.api_key %>"<% } %> required>
          <button class="button" type="submit">Go !</button>
        </form>
        <hr />
        <% if(providers.rescuetime && providers.rescuetime.api_key) { %>
          <% if(providers.rescuetime.tracks && providers.rescuetime.tracks.length && providers.rescuetime.tracks.length>0) { %>
          <% for(var i=0; i<providers.rescuetime.tracks.length; i++) {%>
            <form action="/admin/rescuetime/track" method="post">
              <input type="text" name="name" placeholder="Item to track" value="<%= providers.rescuetime.tracks[i].name %>" required>
              <input type="text" name="image" placeholder="URL of the item's image " id="image" value="<%= providers.rescuetime.tracks[i].image %>" required>
              <input type="hidden" name="index" value="<%= i %>" required>
              <input type="hidden" name="api_key" value="<%= providers.rescuetime.api_key %>" required>
              <button class="button" type="submit">Modify</button>
            </form>
            <hr />
          <% } %>
          <% } %>
          <form action="/admin/rescuetime/track" method="post">
            <input type="text" name="name" placeholder="Item to track" required>
            <input type="text" name="image" placeholder="URL of the item's image " id="image" required>
            <input type="hidden" name="index" value="<%= (providers.rescuetime.tracks && providers.rescuetime.tracks.length) || 0 %>" required>
            <input type="hidden" name="api_key" value="<%= providers.rescuetime.api_key %>" required>
            <button class="button" type="submit">Add</button>
          </form>
        <% } %>
      </div>
    </section>
    <section class="projects job">
      <input type="checkbox" id="projectsBack" />
      <% if(providers.projects) { %>
      <label for="projectsBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
      <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/projects.png">
        <h1>Projects</h1>
        <p>Descriptions of projects that you are proud of.</p>
        <% if(providers.projects.length>0) { %>
        <a class="button active" href="#">ACTIVE</a>
        <% } else { %>
        <label for="projectsBack" class="button">CONNECT</label>
        <% } %>
      </div>
      <div class="face back">
        <% for(var i=0; i<providers.projects.length; i++) {%>
          <form action="/admin/projects" method="post">
            <input type="text" name="name" placeholder="Project's name" value="<%= providers.projects[i].name %>" required>
            <textarea type="text" name="description" placeholder="Project's description" required><%= providers.projects[i].description %></textarea>
            <input type="hidden" name="index" value="<%= i %>" required>
            <input type="text" name="url" placeholder="Project's URL" value="<%= providers.projects[i].url %>" required>
            <input type="text" name="icon" placeholder="Project's icon" value="<%= providers.projects[i].icon %>" required>
            <button class="button" type="submit">Modify</button>
          </form>
          <hr />
        <% } %>
        <form action="/admin/projects" method="post">
          <input type="text" name="name" placeholder="Project's name" required>
          <textarea type="text" name="description" placeholder="Project's description" required></textarea>
          <input type="hidden" name="index" value="<%= providers.projects.length || 0 %>" required>
          <input type="text" name="url" placeholder="Project's URL" required>
          <input type="text" name="icon" placeholder="Project's icon" required>
          <button class="button" type="submit">Add</button>
        </form>
      </div>
    </section>
    <section class="diplomas job">
      <input type="checkbox" id="diplomasBack" />
      <% if(providers.diplomas) { %>
      <label for="diplomasBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
      <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/diplomas.png">
        <h1>Diplomas</h1>
        <p>Descriptions of diplomas that you are proud of.</p>
        <% if(providers.diplomas.length>0) { %>
        <a class="button active" href="#">ACTIVE</a>
        <% } else { %>
        <label for="diplomasBack" class="button">CONNECT</label>
        <% } %>
      </div>
      <div class="face back">
        <% for(var i=0; i<providers.diplomas.length; i++) {%>
          <form action="/admin/diplomas" method="post">
            <input type="text" name="name" placeholder="Diploma's name" value="<%= providers.diplomas[i].name %>" required>
            <textarea type="text" name="description" placeholder="Diploma's description" required><%= providers.diplomas[i].description %></textarea>
            <input type="hidden" name="index" value="<%= i %>" required>
            <input type="text" name="url" placeholder="Diploma's URL" value="<%= providers.diplomas[i].url %>" required>
            <input type="text" name="icon" placeholder="Diploma's icon" value="<%= providers.diplomas[i].icon %>" required>
            <button class="button" type="submit">Modify</button>
          </form>
          <hr />
        <% } %>
        <form action="/admin/diplomas" method="post">
          <input type="text" name="name" placeholder="Diploma's name" required>
          <textarea type="text" name="description" placeholder="Diploma's description" required></textarea>
          <input type="hidden" name="index" value="<%= providers.diplomas.length || 0 %>" required>
          <input type="text" name="url" placeholder="Diploma's URL" required>
          <input type="text" name="icon" placeholder="Diploma's icon" required>
          <button class="button" type="submit">Add</button>
        </form>
      </div>
    </section>
    <section class="other-sport sport">
      <input type="checkbox" id="otherSportBack" />
      <% if(providers.other_sport) { %>
      <label for="otherSportBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
      <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/sport.png">
        <h1>Other Sport</h1>
        <p>Track another sport. The one you want.</p>
        <% if(providers.other_sport) { %>
        <a class="button active" href="#">ACTIVE</a>
        <% } else { %>
        <label for="otherSportBack" class="button">TRACK</label>
        <% } %>
      </div>
      <div class="face back">
        <% if(providers.other_sport) { %>
        <form action="/admin/other_sport_data" method="post" id="other_sport_data">
          <input type="text" name="value" placeholder="Point of data" id="value" required>
          <input type="text" name="timestamp" placeholder="Timestamp (empty for now)" id="timestamp" required>
          <button class="button" type="submit">Go !</button>
        </form>
        <hr />
        <% } %>
        <form action="/admin/other_sport" method="post" id="other_sport">
          <input type="text" name="name" placeholder="Name of the sport" id="name"<% if(providers.other_sport) { %> value="<%= providers.other_sport.name %>"<% } %> required>
          <input type="text" name="image" placeholder="URL of the sport's image" id="image"<% if(providers.other_sport) { %> value="<%= providers.other_sport.image %>"<% } %> required>
          <input type="text" name="value_name" placeholder="Name of the value" id="value_name"<% if(providers.other_sport) { %> value="<%= providers.other_sport.value_name %>"<% } %> required>
          <button class="button" type="submit">Go !</button>
        </form>
      </div>
    </section>
    </section>
    <section class="other-date sport">
      <input type="checkbox" id="otherLastBack" />
      <% if(providers.other_last) { %>
      <label for="otherLastBack"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M24.751 16c-.009 4.832-3.918 8.742-8.75 8.75-2.515 0-4.768-1.062-6.365-2.762l2.068-1.443-7.901-3.703.744 8.695 2.193-1.529c2.244 2.594 5.562 4.242 9.26 4.242 6.768 0 12.249-5.482 12.249-12.25h-3.498zm-8.75-8.749c2.517 0 4.769 1.065 6.367 2.764l-2.068 1.443 7.901 3.701-.746-8.693-2.191 1.529c-2.246-2.594-5.562-4.245-9.263-4.245-6.765.001-12.249 5.485-12.25 12.25h3.501c.008-4.831 3.918-8.741 8.749-8.749z"/></svg></label>
      <% } %>
      <div class="face front">
        <img class="logo" src="/images/admin/last.png">
        <h1>Last thing</h1>
        <p>Track the list time you have done something.</p>
        <% if(providers.other_last) { %>
        <a class="button active" href="#">ACTIVE</a>
        <% } else { %>
        <label for="otherLastBack" class="button">TRACK</label>
        <% } %>
      </div>
      <div class="face back">
        <% if(providers.other_last) { %>
        <form action="/admin/other_last_data" method="post" id="other_last_data">
          <button class="button" type="submit">I"ve just done it !</button>
        </form>
        <hr />
        <% } %>
        <form action="/admin/other_last" method="post" id="other_last">
          <input type="text" name="name" placeholder="Name of the thing" id="name"<% if(providers.other_last) { %> value="<%= providers.other_last.name %>"<% } %> required>
          <input type="text" name="image" placeholder="URL of the thing's image " id="image"<% if(providers.other_last) { %> value="<%= providers.other_last.image %>"<% } %> required>
          <button class="button" type="submit">Go !</button>
        </form>
      </div>
    </section>
  </div></div>
  <nav>
    <ul>
      <li><img class="logo" src="/images/admin/cog.png"></li>
      <li><img class="logo" src="/images/admin/gravatar.jpg"></li>
      <li><img class="logo" src="/images/admin/facebook.png"></li>
      <li><img class="logo" src="/images/admin/strava.png"></li>
      <li><img class="logo" src="/images/admin/moves.png"></li>
      <li><img class="logo" src="/images/admin/twitter.png"></li>
      <li><img class="logo" src="/images/admin/github.png"></li>
      <li><img class="logo" src="/images/admin/linkedin.png"></li>
      <li><img class="logo" src="/images/admin/rescuetime.png"></li>
      <li><img class="logo" src="/images/admin/projects.png"></li>
      <li><img class="logo" src="/images/admin/diplomas.png"></li>
      <li><img class="logo" src="/images/admin/sport.png"></li>
      <li><img class="logo" src="/images/admin/last.png"></li>
      <li><img class="logo" src="/images/admin/soon.png"></li>
    </ul>
  </nav>
  <div class="reglages">

  </div>
  <script src="scripts/script.js"></script>
  <script>
    var p = document.getElementById("age");
    var age = new Age(p, "<%= providers.basic.birthday %>");

    var elem = document.querySelector('.draggable');
    var draggie = new Draggable( elem);
  </script>
</body>

</html>
