<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>portfolio-v3</title>
  <meta name="description" content="Mathieu's Portfolio">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="styles/styles.css">

</head>

<body class='index'>
  <div id='circlesUI'>
    <!-- 1, 3 -->
    <% if(linkedin) { %>
      <div class='circle-container social linkedin'><a href='<%= linkedin.link %>' class='circle' target='_blank'><img src='images/linkedin.svg'></a><div class='label'>LinkedIn</div></div>
    <% } else { %>
      <div class='circle-container social linkedin disabled'><div class='circle'><img src='images/linkedin.svg'></div><div class='label'>LinkedIn</div></div>
    <% } %>
    <!-- 1, 4 -->
    <% if(github) { %>
    <div class='circle-container social github'><div class='circle'><img src='images/github.svg'></div><div class='label'>Github</div></div>
    <% } else { %>
      <div class='circle-container social github disabled'><div class='circle'><img src='images/github.svg'></div><div class='label'>Github</div></div>
    <% } %>
    <!-- 1, 5 -->
    <div class='circle-container job'><div class='circle'></div><div class='label'>AR Drinect</div></div>
    <!-- 1, 6 -->
    <div class='circle-container job'><div class='circle'></div><div class='label'>AuRore</div></div>
    <!-- 2, 2 -->
    <% if(twitter) { %>
    <div class='circle-container social last-tweet'><a href='<%= twitter.link %>' class='circle' target='_blank'><p><%= twitter.lastTweet %></p><img src='images/twitter.svg'></a><div class='label'>Last Tweet</div></div>
    <% } else { %>
      <div class='circle-container social disabled'><div class='circle'><img src='images/twitter.svg'></div><div class='label'>Twitter</div></div>
    <% } %>
    <!-- 2, 3 -->
    <% if(twitter) { %>
    <div class='circle-container social twitter'><a href='<%= twitter.link %>' class='circle' target='_blank'><img src='images/twitter.svg'></a><div class='label'>Twitter</div></div>
    <% } else { %>
      <div class='circle-container social twitter disabled'><div class='circle'><img src='images/twitter.svg'></div><div class='label'>Twitter</div></div>
    <% } %>
    <!-- 2, 4 -->
    <div class='circle-container job'><div class='circle'></div><div class='label'>#MyTignes</div></div>
    <!-- 2, 5 -->
    <div class='circle-container job'><div class='circle'></div><div class='label'>Optelec</div></div>
    <!-- 3, 3 -->
    <% if(facebook) { %>
      <div class='circle-container social facebook'><a href='<%= facebook.link %>' class='circle' target='_blank'><img src='images/facebook.svg'></a><div class='label'>Facebook</div></div>
    <% } else { %>
      <div class='circle-container social facebook disabled'><div class='circle'><img src='images/facebook.svg'></div><div class='label'>Facebook</div></div>
    <% } %>
    <!-- 3, 4 -->
    <div class='circle-container social presentation'><div class='circle'><img src='<%= basic.avatar %>'></div><div class='label'><%= basic.firstname %> <%= basic.lastname %></div></div>
      <!-- 3, 5 -->
    <div class='circle-container job'><div class='circle'><img src='images/diploma.svg'></div><div class='label'>Centrale Lille</div></div>
      <!-- 3, 6 -->
    <div class='circle-container job'><div class='circle'><img src='images/diploma.svg'></div><div class='label'>Cranfield</div></div>
      <!-- 4, 2 -->
    <div class='circle-container divers'><div class='circle'></div><div class='label'>essai</div></div>
      <!-- 4, 3 -->
    <div class='circle-container divers'><div class='circle'></div><div class='label'>essai</div></div>
      <!-- 4, 4 -->
    <div class='circle-container sport run'><div class='circle'><img src='images/run.svg'></div><div class='label'>Last Month</div></div>
      <!-- 4, 5 -->
      <div class='circle-container sport'><div class='circle'><img src='images/bouldering.svg'></div><div class='label'>Bouldering</div></div>

      <!-- 5, 3 -->
    <div class='circle-container divers'><div class='circle'></div><div class='label'>essai</div></div>
      <!-- 5, 4 -->
    <div class='circle-container divers'><div class='circle'></div><div class='label'>essai</div></div>
      <!-- 5, 5 -->
    <div class='circle-container sport'><div class='circle'><img src='images/heart.svg'></div><div class='label'>Heart Rate</div></div>
      <!-- 5, 6 -->
    <div class='circle-container sport'><div class='circle'><img src='images/sleep.svg'></div><div class='label'>Last Night</div></div>
      <!-- 6, 2 -->
    <div class='circle-container divers'><div class='circle'><img src='images/about.svg'></div><div class='label'>About</div></div>
      <!-- 6, 3 -->
    <div class='circle-container divers'><div class='circle'></div><div class='label'>essai</div></div>
      <!-- 6, 4 -->
      <div class='circle-container sport step'><div class='circle'><img src='images/step.svg'><p>00000<br /><span>&nbsp;&nbsp;&nbsp;steps</span></p></div><div class='label'>Yesterday</div></div>
      <!-- 6, 5 -->
    <div class='circle-container sport'><div class='circle'></div><div class='label'>Age</div></div>
      <!-- 7, 3 -->
    <div class='circle-container divers'><div class='circle'><img src='images/help.svg'></div><div class='label'>Help</div></div>
      <!-- 7, 4 -->
    <div class='circle-container divers'><div class='circle'></div><div class='label'>essai</div></div>
      <!-- 7, 5 -->
      <div class='circle-container sport'><div class='circle'><img src='images/haircut.svg'></div><div class='label'>Last Haircut</div></div>
      <!-- 7, 6 -->
      <% if(github) { %>
    <div class='circle-container sport'><div class='circle'><img src='images/commit.svg'></div><div class='label'>Total Commit</div></div>
    <% } else { %>
      <div class='circle-container sport disabled'><div class='circle'><img src='images/commit.svg'></div><div class='label'>Total Commit</div></div>
    <% } %>

      <!-- 8, 2 -->
    <div class='circle-container divers'><a href="/admin" class='circle'><img src='images/cog.svg'></a><div class='label'>Administration</div></div>
      <!-- 8, 3 -->
    <div class='circle-container divers'><div class='circle'></div><div class='label'>Essai</div></div>
      <!-- 8, 4 -->
    <div class='circle-container sport'><div class='circle'></div><div class='label'>Time on Bracket</div></div>
      <!-- 8, 5 -->
    <div class='circle-container sport'><div class='circle'></div><div class='label'>Time on Sketch</div></div>
    <div class='caption social'>Social</div>
    <div class='caption job'>Projects</div>
    <div class='caption divers'>Divers</div>
    <div class='caption sport'>Quantified Self</div>
  </div>
  <script src="scripts/script.js"></script>
  <script>
    var scene = document.getElementById('circlesUI');
    var circlesUI = new CirclesUI(scene);
  </script>
</body>

</html>
